<html>
	<head>
		<title>Testing</title>
	</head>
	<body>
		<% if greeting %>
			<p>I just wanted to say I'm testing <em style="color:blue; font-size:3em;"><%= greeting %></em>.
		<% else %>
			<em>Hello</em>, world!
		<% end %>

	</body>
</html>