<h1>Fill Out This Form</h1>

<form action="/hello" method="POST">
	<table>
		<tr>
			<td>A Greeting: </td>
			<td><input type="text" name="greet"></td>
		</tr>
		<tr>
			<td>Your Name: </td>
			<td><input type="text" name="name"></td>
		</tr>
	</table>
	<br />
	<input type="file" name="image">
	<br /><br />
	<input type="submit" value="Proceed">
</form>