<% if greeting %>
	<p>I just wanted to say <em style="color:green; font-size:2em;"><%= greeting %></em>.
	<br />
<% else %>
	<em>Hello</em>, world!
<% end %>

<br /><br />
<a href="hello">Click here to edit this form...</a>