<html>
	<head>
		<title>Gothons From Planet Percal #25</title>
	</head>
	<body>
		<%= yield %>
		<br /><br />
		<em style="font-size:10pt">Note: This line is created in a single layout template file</em>
	</body>
</html>